#ibm
    .imgbox
        margin: 20px
        display: flex
        justify-content: space-between
    .microsoft
        width: 208px
        margin: 70px
    .google
        width: 160px
        margin: 67px
    .facebook
        width: 175px
        margin: 73px
    .ibm
        width: 124px
        margin: 73px
    @media screen and ( max-width: 998px )
        .microsoft
            width: 170px
    @media screen and ( min-width: 383px )
        
        
        
        
