#team
    background-color: #f7f7f7
    padding: 80px
    h1
        font-weight: 700
        font-size: 40px
    h4
        font-size: 18px
        color: #888383
        margin-top: 35px
        margin-bottom: 5px
    .textbox
        h2
            font-weight: 700
            font-size: 30px
            margin-top: -36px
        h3
            font-size: 20px
            color: #999595
            margin: 10px 0 13px 0
        ul
            display: flex
            justify-content: center
            li
                background-color: #080808
                color: #fff
                border-radius: 50%
                height: 40px
                margin: 10px
                padding: 12px 49px 46px 17px
                width: 20px
                &:hover
                    cursor: pointer
    .imgbox
        margin: 67px
        border-radius: 249px
    h5
        color: #858080
        font-size: 35px
        margin-top: 72px
        line-height: 1.2
    @media screen and ( max-width: 756px )
        h5
            font-size: 60px
    @media screen and ( min-width: 570px )
        font-size: 40px
